@page
@model MagicLand_System_Web.Pages.StudentModel
@{
    ViewData["Title"] = "Student";
    var Message = ViewData["Message"]?.ToString();
    <link rel="stylesheet" href="~/css/cutom.css" />
}
<style>
    table, th, td {
        border: 1px solid black;
    }

    #class {
        background-color: lightblue;
    }

        #class .nav-link {
            color: blue !important;
        }

        #class i.fa {
            color: blue;
        }
</style>

<section class="body-class">
    <div class="text-center">
        <h6 class="display-3" style="font-weight: bold; font-size: 30px"><b>Tạo Nhiều Học Sinh Thuộc Ngẫu Nhiên Phụ Huynh</b></h6>

        <div class="form-group" onsubmit="return setLoader()">
            <form method="post">
                <label for="inputField">Nhập Số Học Sinh: </label>
                <input type="text" id="inputField" name="inputField" />
                <input type="hidden" id="input-value" name="listId" value="" />
                <button id="button-submit" type="submit" style="background-color: white; color: black">Xử Lý</button>
                <button id="button-refresh" type="submit" style="background-color: white; color: black; margin-left: 26px;" value="Refresh" name="submitButton">Tải Người Dùng</button>
            </form>
        </div>

        @if (!string.IsNullOrEmpty(Message))
        {
            <div class="alert alert-warning" style="margin-left: auto; width: 75%;">
                @Message
            </div>
        }

        @if (Model.IsLoading)
        {
            <script>
                setLoader();
            </script>
        }

        <div class="form-loader" id="loaderContainer" style="text-align: center; display:none;">
            <div class="loader" style="margin-left: 62%; margin-right: auto;"></div>
            <div style="margin-left: 29%;">Now Progressing...</div>
        </div>
        <div class="table-container" style="overflow-y: auto; height: 368px; width: 73%; margin-top: 22px; position: relative}">
            @if (Model.StudentMessages != null && Model.StudentMessages.Count() > 0)
            {
                <table class="table">
                    <thead style="position: sticky; top: -1px; background-color: gainsboro;">
                        <tr>
                            <th>
                                Thứ Tự
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Thuộc Phụ Huynh
                            </th>
                            <th>
                                Độ Tuổi
                            </th>
                            <th style="width: 120px">
                                Giới Tính
                            </th>
                            <th style="width: 100px">
                                Trạng Thái
                            </th>
                            <th style="width: 100px">
                                Ghi Chú
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 0;
                        }
                        @foreach (var item in Model.StudentMessages)
                        {
                            {
                                index++;
                            }
                            <tr>
                                <td>
                                    @index
                                </td>
                                <td>
                                    @item.StudentName
                                </td>
                                <td>
                                    @item.ParentBelong
                                </td>
                                <td>
                                    @item.Age
                                </td>
                                <td>
                                    @item.Gender
                                </td>
                                <td>
                                    @item.Status
                                </td>
                                <td>
                                    @item.Note
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else if (Model.Parents != null)
            {
                if (Model.Parents.Count == 0)
                {
                    <h6>Không Tìm Thấy Người Dùng Nào</h6>
                }
                else
                {
                    <table class="table">
                        <thead style="position: sticky; top: -1px; background-color: gainsboro;">
                            <tr>
                                <th colspan="5" style="text-align: center; font-size: larger; font-weight: bold;">Chọn Phụ Huynh Hoặc Tất Cả Phụ Huynh</th>
                            </tr>
                            <tr>
                                <th>
                                    Thứ Tự
                                </th>
                                <th>
                                    Tên
                                </th>
                                <th>
                                    Số Điện Thoại
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Địa Chỉ
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            @{
                                int index = 0;
                            }
                            @foreach (var item in Model.Parents)
                            {
                                {
                                    index++;
                                }
                                <tr id="row-@index" onclick="rowClicked('@item.Id', '@index')">
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @item.FullName
                                    </td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</section>

<script>
    function setLoader() {
        var loaderContainer = document.getElementById("loaderContainer");
        var buttonSubmit = document.getElementById("button-submit");
        if (loaderContainer.style.display === "none") {
            loaderContainer.style.display = "block";
            buttonSubmit.style.opacity = "0.5";
            buttonSubmit.disabled = true;
            return true;
        } else {
            loaderContainer.style.display = "none";
        }

        if (@Model.IsLoading) {
            buttonSubmit.style.opacity = "1";
            buttonSubmit.disabled = false;
        }
    }

    function rowClicked(id, rowIndex) {
        //var tbody = document.getElementById("table-body");
        //var rows = tbody.querySelectorAll("tr");
        //rows.forEach(function (row) {
        //    row.style.backgroundColor = "transparent";
        //});

        var rowSelect = document.getElementById('row-' + rowIndex);

        var computedStyle = window.getComputedStyle(rowSelect);
        var rowSelectColor = computedStyle.getPropertyValue("background-color");

        console.log(rowSelectColor);

        if (rowSelectColor === "rgb(173, 216, 230)") {
            document.getElementById('input-value').value = '';
            rowSelect.style.backgroundColor = "transparent";
        } else {
            document.getElementById('input-value').value += "|" + id + "|";
            rowSelect.style.backgroundColor = "lightblue";
        }

    }
</script>

